<h1>Welcome to Places You've Been</h1>

<a href="/places/new">Click here to add a new Place to your list of trips</a>
<br>
<a href="/places">Click here to view all of the Places in your list of trips</a>